<!DOCTYPE html>
<html>
  {% block head %}
    <head>
      <title>{% block title %}{% endblock %}</title>
      <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
      <meta content="yes" name="apple-mobile-web-app-capable" />
      <meta content="chrome=1" http-equiv="X-UA-Compatible" />
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </head>
  {% endblock %}
  <body>
    <div class="wrapper">
      <header>
        <div class="logo">lexicrypt</div>
      </header>
      {% block content %}{% endblock %}
      <div class="footer">    
      </div>
    </div>
  </body>
</html>